* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: transparent;
  color: white;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
}

.app {
  -webkit-app-region: drag;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: transparent;
}

.vinyl {
  position: relative;

  width: 240px;
  height: 240px;

  animation: spin 12s linear infinite;
}

.record {
  width: 100%;
  height: 100%;
  display: block;
     filter:
        drop-shadow(0 0 12px rgba(255,255,255,.10))
        drop-shadow(0 0 35px rgba(255,255,255,.05));

}

.album-center {
  position: absolute;

  left: 50%;
  top: 50%;

  width: 78px;
  height: 78px;

  transform: translate(-50%, -50%);

  border-radius: 50%;

  overflow: hidden;

  border: 3px solid rgba(255,255,255,.15);
}

.album-center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes spin{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}  

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content h1 {
  font-size: 58px;
  font-weight:700;
  letter-spacing: -2px;
}

.content h2 {
  font-size: 24px;
  font-weight: 300;
  color: #8f8f8f;
  margin-top: -10px;
}

.lyrics {
  font-size: 34px;
  font-weight: 500;
  margin-top: 25px;
  opacity: .9;
}

.spectrum {
  font-size: 30px;
  letter-spacing: 3px;
  color: #00ff88;
}

.glass{

background:transparent;

backdrop-filter:blur(25px);

border-radius:25px;

padding:40px;

border:1px solid rgba(255,255,255,.08);

}

